#Q. Even Sum
Write a function that takes an argument ```n``` and returns sum of all even numbers $2, 4, \ldots$ upto $n$

In [ ]:
n=int(input("Enter valiue of n: "))
sum=0
for i in range(2,n+1,2):
  sum=sum+i
print(sum)

Enter valiue of n: 10
30

#Q. Intersection
Write a function that takes two lists ```l1``` and ```l2``` as arguments and returns a list containing elements that are common to both lists without containing any duplicates.

In [ ]:
def inp():
  list1=[]
  list2=[]
  n1=int(input("Enter number of elements for list1:"))
  n2=int(input("Enter number of elements for list2:"))
  print("For list1:")
  for x in range(0,n1):
    list1.append(int(input("Enter element: ")))
  print("For list2:")
  for x in range(0,n2):
    list2.append(int(input("Enter element: ")))
  inter(list1,list2)
def inter(l1,l2):
  l3=[]
  for i in range(0,len(l1)):
    if(l1[i] in l2 and l1[i] not in l3):
      l3.append(l1[i])
      print(l1[i])
inp()

Enter number of elements for list1:5
Enter number of elements for list2:7
For list1:
Enter element: 1
Enter element: 2
Enter element: 3
Enter element: 3
Enter element: 4
For list2:
Enter element: 9
Enter element: 2
Enter element: 2
Enter element: 3
Enter element: 7
Enter element: 8
Enter element: 0
2
3

#Q. Primality
Write a function that takes a number ```n``` as argument and returns ```True``` if the number is prime and ```False``` otherwise.

In [ ]:
n=int(input("Enter a number: "))
def prime(n):
  if(n==0 or n==1):
    return False
  else:
    c=0
    for i in range(2,n):
      if n%i==0:
        c+=1
    if c==0:
      return True
    else:
      return False
print(prime(n))

Enter a number: 5
True

#Q. Digit Count and Sum
Write a function that takes a number ```n``` as input and returns a tuple of two values - the number of digits in that number and sum of digits in that number.

In [ ]:
n=int(input("Enter a number: "))
def dig(n):
  l=[]
  sum=0
  c=0
  while(n!=0):
    d=n%10
    sum=sum+d
    c+=1
    n=n//10
  l.extend([c,sum])
  return(tuple(l))
print(dig(n))

Enter a number: 125
(3, 8)

#Q. Reverse Word Order
Write a function that takes as argument a string containing multiple words and returns a string containing the same words in reverse order. \\
Eg., ```input = 'India is a democracy'; output = 'democracy a is India' ```

In [ ]:
s=input("Enter a string: ")
def rev(s):
  s=' '+s+' '
  l=s.split(' ')
  for i in range(len(l)-1,0,-1):
    print(l[i],end=' ')
rev(s)

Enter a string: India is a democracy
 democracy a is India

#Q. Palindromes
Write a function that takes as argument a string and returns ```True``` if the string is a palindrome and ```False``` otherwise. \\
A palindrome is a string that reads the same backwards and forwards. \\
Eg., ```'aabbaa'``` and ```'aacbbcaa'``` are palindromes. ```'aacca'``` and ```'acab'``` are not. \\
(Ignore whitespace inside strings. For eg., ```'Was It A Rat I Saw'``` is a palindrome)

In [ ]:
s=input("Enter a string: ")
def pal(s):
  l=''
  s=s.lower()
  for i in range(0,len(s)):
    if(s[i]!=' '):
      l=l+s[i]
  d=len(l)//2
  v=0
  for i in range(0,d):
    if(l[i]==l[len(l)-(i+1)]):
      v+=1
  if(v==d):
    return(True)
  else:
    return(False)
pal(s)

Enter a string: Was It A Rat I Saw

True

#Q. Pascal Triangle
Write a function that takes an argument n as input and returns a string containing a pascal triangle of n rows. (https://en.wikipedia.org/wiki/Pascal%27s_triangle)

In [ ]:
def pas(n):
  m=1
  k=n-1
  print(' '*k,end='')
  print(m,end='')
  print(' '*k)
  for i in range(1,k):
    m=m*11
    k-=1
    print(' '*(k),end='')
    print(' '.join(str(m)),end='')
    print(' '*(k))

pas(int(input("Enter no. of rows: ")))

Enter no. of rows: 7
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 6 1 0 5 1